<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,700)" />
    <link rel="stylesheet" href="https://icons.getbootstrap.com/icons/arrow-repeat/" />
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="~/assets/css/Bold-BS4-Footer-Big-Logo.css">
    <link rel="stylesheet" href="~/assets/css/Bootstrap-4-Custom-Radio.css">
    <link rel="stylesheet" href="~/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="~/assets/css/Ludens-Users---2-Simple-Registration-Section.css">
    <link rel="stylesheet" href="~/assets/css/Search-Input-Responsive-with-Icon.css">
    <link rel="stylesheet" href="~/assets/css/quantity.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <link rel="stylesheet" href="~/assets/css/checkout.css" />
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <div>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="margin: -15px;margin-left: 0px;padding: 10px 0px;">
            <div class="container">
                <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button><a class="navbar-brand" href="#page-top" style="background: none;color: var(--bs-orange);font-size: 52px;margin-right: 18px;margin-top: 0px;margin-left: -30px;">FPTBook</a><!-- Start: OmEleSearchSimple -->
                <div class="row padMar">
                    <div class="col padMar">
                        <div class="input-group">
                        </div>
                    </div>
                </div><!-- End: OmEleSearchSimple -->
                <!-- Start: Search Input Responsive with Icon -->
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col col-sm-7">
                            @Html.TextBox("searchstring", "", new { @class = "form-control", @type = "text", @placeholder = " Search for key word", @style = "width: 400px; margin-right:155px" })
                        </div>
                        <div class="col col-sm-5">
                            <button type="submit" class="btn" style="background-color:darkorange; height:36px" value="Search">Search</button>
                        </div>
                    </div>
                     
                     
                 }
                <div class="collapse navbar-collapse" id="navbarResponsive" style="margin: 4px;margin-left: -42px;font-size: 17px;padding: -20px;margin-bottom: 0px;margin-right: -112px;">
                    @if (Session["UserName"] != null)
                    {
                    <ul class="navbar-nav ms-auto text-uppercase">
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("About", "About", "Home")</li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink($"Hi!{Session["UserName"]}", "EditInfor", "User")</li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ViewCart","MyCart1")">
                                <i class="fa fa-opencart" style="font-size:20px">@Html.Action("NumberCart", "MyCart1")</i>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout","User")">LOG OUT</a></li>
                    </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ms-auto text-uppercase">
                            <li class="nav-item"><a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="nav-item"><a class="nav-link" @Html.ActionLink("About", "About", "Home")</li>
                            <li class="nav-item"><a class="nav-link" @Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="nav-item"><a class="nav-link" @Html.ActionLink("SIGN IN", "Login", "User")</li>
                            <li class="nav-item"><a class="nav-link" @Html.ActionLink("SIGN UP", "Register", "User")</li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id="myFooter" style="background: var(--bs-orange);">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <h1 class="logo" style="margin-top:30px;"><a href="#" style="color: var(--bs-gray-700);">FPTBook&nbsp;</a></h1>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5 style="color: var(--bs-gray-800);">Get started</h5>
                    <ul>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">Home</a></li>
                        <li><a href="#" style="color: var(--bs-gray-900);">Downloads<br></a></li>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">Sign Up</a></li>
                        <li><a href="#" style="color: var(--bs-gray-900);">Other Links</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5 style="color: var(--bs-gray-800);">Our Company</h5>
                    <ul>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">About Us</a></li>
                        <li><a href="#" style="color: var(--bs-gray-900);">Company Information<br></a></li>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">Reviews</a></li>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h5 style="color: var(--bs-gray-800);">Support</h5>
                    <ul>
                        <li><a href="#" style="color: var(--bs-gray-900);">FAQ</a></li>
                        <li style="color: var(--bs-gray-900);"><a href="#" style="color: var(--bs-gray-900);">Help Desk<br></a></li>
                        <li><a href="#" style="color: var(--bs-gray-900);">Forums</a></li>
                        <li><a href="#" style="color: var(--bs-gray-900);">External Links</a></li>
                    </ul>
                </div>
                <div class="col-md-3 social-networks">
                    <div></div><a class="facebook" href="#"><i class="fa fa-facebook"></i></a><a class="twitter" href="#"><i class="fa fa-twitter"></i></a><a class="google" href="#"><i class="fa fa-google-plus"></i></a><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a><button class="btn btn-primary" style="margin-top: 20px;background: var(--bs-gray-800);" type="button">Contact us</button>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col">
                    <p>© 2022 Copyright Text ~ Designed By&nbsp;<a href="#">MySelf</a></p>
                </div>
            </div>
        </div>
    </footer><!-- End: Bold BS4 Footer Big Logo -->
    @RenderSection("scripts", required: false)
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/agency.js"></script>
    <script src="~/assets/js/Navbar---Apple.js"></script>
    <script src="~/assets/js/plus_quantity.js"></script>
</body>
</html>
