@model FPTBook.Models.MyCart
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<h2>Shopping Cart</h2>
@if (Model != null)
{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Book</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div><img src="~/assets/img/@item._cart_book.Img" style="height: 300px; width:250px"></div>
                                            <figcaption class="info">
                                                <a href="@Url.Action("Details","Books", new {id = item._cart_book.Book_ID})" class="title text-dark" data-abc="true"><b>@item._cart_book.BookName</b></a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    @using (Html.BeginForm("UpdateQuantity", "MyCarts"))
                                    {
                                        <td>
                                            <input type="hidden" value="@item._cart_book.Book_ID" name="Book_ID" />
                                            <input type="number" style="width: 60px;" value="@item._cart_quantity" name="Quantity" min="1" />
                                            <button type="submit" class="btn" style="background-color:lightgreen" data-abc="true"> Update</button>
                                        </td>
                                    }
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">$@item._cart_book.Price</var>
                                        </div>
                                    </td>
                                    <td>
                                        @Model.Total(item._cart_book)
                                    </td>
                                    <td class="text-right d-none d-md-block">
                                        <a href="@Url.Action("Delete", "MyCarts", new { id = item._cart_book.Book_ID})" class="btn" style="background-color:darkorange" data-abc="true"> Remove</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right ml-3">@Model.TotalPrice()</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right text-danger ml-3">- $10.00</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b ml-3"><strong>$59.97</strong></dd>
                        </dl>
                        <hr> <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a> <a href="#" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
}
<br />
<br />
