@model FPTBook.Models.User
@{
    ViewBag.Title = "EditInfor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<!-- Start: Overlay -->
<div style="height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;background-color:darkorange">
    <div class="d-flex justify-content-center align-items-center">
        <div class="row" style="background: var(--bs-gray-800);color: black;margin-right: 0px;width: 740.4px;">
            @using (Html.BeginForm("EditInfor", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <p>@ViewBag.error</p>
                <form method="post" style="background-color:black">
                    <h2 class="text-center" style="margin-bottom: 20px;color: var(--bs-body-bg);">Edit Information</h2>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;color: var(--bs-body-bg);">
                            <strong>Username</strong><br>
                        </label><input class="form-control" type="text" style="margin-bottom: 20px;" placeholder="Enter Username" @Html.EditorFor(model => model.UserName)
                                       @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Password</strong><br>
                        </label><input class="form-control" type="password" id="password" style="margin-bottom: 20px;" placeholder="Enter Password" @Html.EditorFor(model => model.Password)
                                       @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Confirm Password</strong>
                        </label><input class="form-control" type="password" id="password" placeholder="Enter Password again" style="margin-bottom: 20px;" @Html.EditorFor(model => model.ConfirmPassword)
                                       @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label>
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Full Name</strong><br>
                        </label><input class="form-control" placeholder="Enter Full Name" style="margin-bottom: 20px;" @Html.EditorFor(model => model.FullName)
                                       @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label><label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Email</strong><br>
                        </label><input class="form-control" placeholder="Enter Email" style="margin-bottom: 20px;" @Html.EditorFor(model => model.Email)
                                       @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label>
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Address</strong><br>
                        </label><input class="form-control" placeholder="Enter Address" style="margin-bottom: 20px;" @Html.EditorFor(model => model.Address)
                                       @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label>
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);">
                            <strong>Telephone</strong><br>
                        </label><input class="form-control" placeholder="Enter Telephone" style="margin-bottom: 20px;" @Html.EditorFor(model => model.Telephone)
                                       @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label>
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);font-weight: bold;">Birthday</label>
                        <input class="form-control" type="date" @Html.EditorFor(model => model.Birthday)
                               @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3" style="color: var(--bs-body-bg);">
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: #505E6C;"><br></label>
                        <label class="form-label" style="margin-bottom: 10px;margin-top: 10px;color: var(--bs-body-bg);font-weight: bold;">Gender</label>
                        @Html.RadioButtonFor(model => model.Gender, "Male")<span>Male</span>
                        @Html.RadioButtonFor(model => model.Gender, "FeMale")<span>Female</span>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(26,235,147);">Update</button></div>
                        <a class="forgot" href="@Url.Action("Home")" style="color: var(--bs-gray-900);font-size: 17px;">Back Home Page</a>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<br />
<br />
<br />
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
