@model FPTBook.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="mb-3"><a class="btn btn-primary d-block w-25" href="@Url.Action("Edit","Categories",new { id = Model.Cat_ID })" style="color: var(--bs-gray-800); background: var(--bs-orange); ">Edit</a></div>
<div class="mb-3"><a class="btn btn-primary d-block w-25" href="@Url.Action("Index","Categories")" style="color: var(--bs-orange); background: var(--bs-gray-800); ">Back to List</a></div>

