@model FPTBook.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Edit Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Cat_ID)

    <div class="form-group">
        @Html.LabelFor(model => model.CatName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CatName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CatName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3"><button class="btn btn-primary d-block w-25" type="submit" style="color: var(--bs-gray-800); background: var(--bs-orange); ">Save</button></div>
    <div class="mb-3"><a class="btn btn-primary d-block w-25" href="@Url.Action("Index","Categories")" style="color: var(--bs-orange); background: var(--bs-gray-800); ">Back to List</a></div>
</div>
}
